
body{
  overflow-x:hidden; 
  width: 100%;
  height: 100%;
}

.landing {
  position: relative;
  width: 100%;
  height:100vh;
  display: table;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  background-image: url(/img/landmark-3.jpg);
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: repeat;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


.navbar-brand{
  font-size: 30px;
}

.navbar-brand a{
  text-decoration: none;
  color: gray;
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 19%;
  
  z-index: 1;
}

.landmark{
  background: rgba(255, 255, 255, 0.78);
}

.pico{
  padding: 2rem;
  color: azure;
  display: inline-block;
  vertical-align: middle;
}

.wea{
float: right;
}




